#map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.guide
{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 100%;
	height: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	z-index: 600;
    pointer-events: none;
	text-align: center;
	font: 28px/32px Arial, Helvetica, sans-serif;
	background: white;
	background: rgba(255,255,255,0.8);
} 
.guide p
{
	margin: 0 0 5px;
	color: #777;
}
